html { 
    font-size: 100%; 
}

body {
  background: #506C82;
  font-family: 'Open Sans', sans-serif;
  margin-top: 50px;
}

/* main container */

.container {
  width: 90%;
  margin: 0 auto;
  background: #ffffff;
  padding: 20px 0;
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.2);
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
}

.row {
  display: block;
  padding: 10px;
  text-align: center;
  width: 100%;
  clear: both;
  overflow: hidden;
}
.content { 
    background: #fff; 
}

/* header styling */
.logo {
    text-align: center;
}

h1 {
  color: #666;
  text-align: center;
  font-weight: 400;
  margin: 0;
}

.tagline {
  margin-top: -10px;
  text-align: center;
  padding: 5px 20px;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  color: #777;
}

/* inputs */

/*.inputContainer {
  height: 100px;
  border-top: 1px solid #e5e5e5;
  position: relative;
  overflow: hidden;
}*/
.inputContainer input {
    border: none;
    width: 35%;
    background: #eee;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    height: 50px;
}


/* task styles */

.todoList {
  list-style: none;
  padding: 0 20px;
}

.todo {
  border-top: 1px solid #e5e5e5;
  padding: 15px 0;
  color: #777;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.todoList .todos:nth-child(even) { background: #fcfcfc; }

.todoCheckbox { margin-right: 1em; }

.done {
  text-decoration: line-through;
  color: #bebebe;
}