html { 
    font-size: 100%; 
}

body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
}

/* main container */

.container {
  width: 90%;
  margin: 0 auto;
  background: #ffffff;
  padding: 20px 0;
}

.row {
  display: block;
  padding: 10px;
  margin: 0;
  text-align: center;
  width: 100%;
  clear: both;
  overflow: hidden;
}
.content { 
    background: #fff; 
}

/* header styling */
.logo {
    text-align: center;
}

h1 {
  color: #666;
  text-align: center;
  font-weight: 400;
  margin: 0;
}

.tagline {
  margin-top: -10px;
  text-align: center;
  padding: 5px 20px;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  color: #777;
}

.inputContainer input {
    border: none;
    width: 90%;
    background: #F5F2F2;
    text-align: center;
    padding: 16px;
    font-size: 24px;
    height: 50px;
}
/* 
Targt the input box text for some styling
https://css-tricks.com/almanac/selectors/p/placeholder/ 
*/
input::placeholder {
    color: #CACACA;
    font-style: italic;
}

/* task styles */

.todoList {
  list-style: none;
  padding: 0 20px;
}

.todo {
  padding: 15px 0;
  color: #777;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.5px;
  transition: 1s linear all;
  -webkit-transition: 1s linear all;
}

.todoList .todos:nth-child(even) { 
    background: #fcfcfc; 
}

/* 
List animations for ngAnimate module 
https://css-tricks.com/animations-the-angular-way/ 
*/

.todo.ng-enter {
  opacity: 0;
}

.todo.ng-enter.ng-enter-active {
  opacity: 1;
}

.todo.ng-leave {
  opacity: 1;
}

.todo.ng-leave.ng-leave-active {
  opacity: 0;
}

/* 
Fancy alternating background colours courtesy of: 
https://stackoverflow.com/questions/358350/alternate-background-colors-for-list-items
*/

li { 
    background: g#CACACA; 
}

li:nth-child(odd) { 
    background: #FEFFFD; 
}

/*
Larger checkbox with animation on click - By Matt Sisto
https://codepen.io/msisto/pen/lCofE
 */

@-webkit-keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}
@-moz-keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}
@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}
.todoCheckbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.todoCheckbox:hover {
  background: #9faab7;
}
.todoCheckbox:checked {
  background: #40e0d0;
}
.todoCheckbox:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '\2716';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}
.todoCheckbox:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}

/*
Reset annoying bootstrap selection outline
 */

input[type="checkbox"]:focus {
    outline: 0;
    outline-offset: 0;
}

/*
Style the done class so that we can make it look like the todo is crossed out
 */

.done {
  text-decoration: line-through;
  color: #bebebe;
