<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	xmlns:android = "http://schemas.android.com/apk/res/android"
	id        = "com.hudders.octodo"
	versionCode="1.0.0"
	version   = "1.0.0">
	<name>OcTo-Do</name>
	<description>A simple ToDo app for Android</description>
	<author href="https://github.com/jasonhudson/OcTo-Do" email="jason.hudson@digitalskillsacademy.me">Jason Hudson</author>
	<preference name="orientation" value="default" />
	<preference name="fullscreen" value="false" />
	<preference name="target-device" value="handset" />
	<preference name="webviewbounce" value="true" />
	<preference name="show-splash-screen-spinner" value="true" />
	<preference name="auto-hide-splash-screen" value="true" />
	<preference name="FadeSplashScreen " value="true" />
	<preference name="android-minSdkVersion" value="14" />
	<preference name="android-targetSdkVersion" value="23" />
	<preference name="android-maxSdkVersion" value="23" />
	<preference name="android-installLocation" value="auto" />
	<preference name="SplashScreenDelay" value="5000" />
	<preference name="BackgroundColor" value="0x000000" />
	<preference name="DisallowOverscroll" value="true" />
	<platform name="android">
		<icon src="img/icon.png" qualifier="xxxhdpi" />
	</platform>
	<icon src="img/icon.png" />
	<splash src="img/splash.png" />
</widget>