<!doctype html>
<html>
  <head>
    <meta charset=utf-8>
    <title>OcTo-Do</title>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
  <div ng-app="ToDo">
  <div class="container">
    <div class="content" ng-controller="todoController">
    <div class="logo">
    <img src="img/logo_small.png" alt="Octo">
    </div>
    <h1>OcTo-Do</h1>
      <p class="tagline">for cephalopods and multi-tasking humans</p>
      <form>
        <div class="inputContainer" align="center">
          <input type="text" id="description" class="taskName" placeholder="What do you need to do?" ng-model="newTodo">
        </div>
        <div class="row">
          <button type="button" class="btn btn-success btn-lg taskAdd" ng-click="addTodo()"><span class="glyphicon glyphicon-save"></span> Add </button>
          <button type="button" class="btn btn-warning btn-lg taskDelete" ng-click="clearTodos()"><span class="glyphicon glyphicon-refresh"></span> Clear </button>
          <button type="button" class="btn btn-danger btn-lg taskDelete" ng-click="deleteTodo()"><span class="glyphicon glyphicon-trash"></span> Delete </button>
        </div>
      </form>


      <ul class="todoList">
        <li class="todo" ng-repeat="todo in todos track by $index" ng-model="todos">
          <input type="checkbox" class="todoCheckbox" data-ng-model="todo.done" />
          <span ng-class="{'done':todo.done}">{{todo.title}}</span>
        </li>
      </ul>
      </div>
    </div>
    </div>
    </div>
    
  </div>
  <script src="js/angular.min.js"></script>
  <script src="js/todo.js"></script>
</body>
</html>